<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <!--add name="CIEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.85.35.113\SQLDESA01;initial catalog=CI;persist security info=True;user id=CamposInteligentes;password=ciGaitep;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /-->
    <add name="Entities_ModeloCI" connectionString="metadata=res://*/ModeloCI.csdl|res://*/ModeloCI.ssdl|res://*/ModeloCI.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.85.35.113\SQLDESA01;initial catalog=CI;persist security info=True;user id=CamposInteligentes;password=ciGaitep;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IModelo" sendTimeout="00:15:00" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://hpz40sat07/Modelo/Modelo.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IModelo" contract="SVModel.IModelo"
        name="BasicHttpBinding_IModelo" />
    </client>
  </system.serviceModel>
</configuration>